<section id="cover" class="block h-full w-full max-w-full overflow-hidden">
  <app-svg></app-svg>
  <div id="cover-buttons" class="absolute bottom-[26vh] xs:bottom-[26.5vh] md:bottom-[15rem] 3xl:bottom-[22rem] inset-x-0">
      <div class="block mx-auto text-center space-y-2 space-x-2">
          <a href="https://discord.gg/tVcRvvXRfR" rel="noopener noreferrer nofollow" target="_blank" class="inline-block py-3 text-lg rounded-md md:rounded-sm font-playfair w-2/12 md:w-40 text-center transition duration-300 hover:shadow-lg bg-transparent border border-black text-black font-semibold">
              <img src="../assets/icon/discord_logo.svg" alt="discord logo" class="inline-block h-6 w-6"> <span class="hidden sm:inline-block">Discord</span>
          </a>
          <a href="https://opensea.io/collection/gan-apes-nft" rel="noopener noreferrer nofollow" target="_blank" class="inline-block py-3 text-lg rounded-md md:rounded-sm font-playfair w-2/12 md:w-40 text-center transition duration-300 hover:shadow-lg bg-transparent border border-black text-black font-semibold">
              <img src="../assets/icon/opensea_logo.svg" alt="opensea logo" class="inline-block h-6 w-6"> <span class="hidden sm:inline-block">OpenSea</span>
          </a>
          <a href="https://twitter.com/GANNFT" rel="noopener noreferrer nofollow" target="_blank" class="inline-block py-3 text-lg rounded-md md:rounded-sm font-playfair w-2/12 md:w-40 text-center transition duration-300 hover:shadow-lg bg-transparent border border-black text-black font-semibold">
              <img src="../assets/icon/twitter_logo.svg" alt="twitter logo" class="inline-block h-6 w-6"> <span class="hidden sm:inline-block">Twitter</span>
          </a>
      </div>
  </div>
  <div class="absolute bottom-5 inset-x-0">
      <a href="#mint" class="block h-16 w-16 mx-auto">
          <svg xmlns="http://www.w3.org/2000/svg" class="text-white h-16 w-16 animate-bounce" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
          </svg>
      </a>
  </div>
</section>

<section id="content" class="px-10 mt-16 md:px-20 space-y-20">
  <div class="md:w-2/4 block">
      <h1 class="text-5xl font-playfair font-semibold">GAN NFT</h1>
      <h2 class="text-3xl font-playfair font-regular">Generative Adversarial Networks Art</h2>
      <p class="mt-5 ml-5 text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>

  <div class="md:w-2/4 text-right ml-auto mr-5">
      <h1 class="text-5xl font-playfair font-semibold">GAN NFT</h1>
      <h2 class="text-3xl font-playfair font-regular">Generative Adversarial Networks Art</h2>
      <p class="mt-5 ml-5 text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>

  <div class="md:w-2/4">
      <h1 class="text-5xl font-playfair font-semibold">GAN NFT</h1>
      <h2 class="text-3xl font-playfair font-regular">Generative Adversarial Networks Art</h2>
      <p class="mt-5 ml-5 text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>

  <div class="md:w-2/4 text-right ml-auto mr-5">
      <h1 class="text-5xl font-playfair font-semibold">GAN NFT</h1>
      <h2 class="text-3xl font-playfair font-regular">Generative Adversarial Networks Art</h2>
      <p class="mt-5 ml-5 text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
  </div>

  <hr class="my-16 max-w-[65vw] md:max-w-[45vw] mx-auto border-t-1 border-black border-opacity-75">

  <div id="gallery" class="text-center justify-center gap-6 grid grid-cols-2 md:grid-cols-3 md:w-1/2 mx-auto">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
      <img class="inline-block" src="../assets/nft_placeholder.png" alt="an example nft">
  </div>

  <hr class="my-16 max-w-[65vw] md:max-w-[45vw] mx-auto border-t-1 border-black border-opacity-75">

  <div id="mint" class="mx-auto">
    <dl class="md:px-24 lg:px-52 grid grid-cols-1 gap-5 lg:grid-cols-3 font-playfair text-center">
        <div class="px-4 py-5 bg-white rounded-lg overflow-hidden sm:p-6">
            <dt class="text-lg font-medium text-gray-500 truncate">
                Published NFTs
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900">
                122
            </dd>
        </div>

        <div class="px-4 py-5 bg-white rounded-lg overflow-hidden sm:p-6">
            <dt class="text-lg font-medium text-gray-500 truncate">
                Sale Start Date
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900 text-left">
                Tuesday, October 9, 2021 at 13:22PM UTC.
                <p class="hidden local-time text-base text-center" data-time-utc="09 Oct 2021 13:22:00">(That's %localtime% in your timezone [%timezone%])</p>
            </dd>
        </div>

        <div class="px-4 py-5 bg-white rounded-lg overflow-hidden sm:p-6">
            <dt class="text-lg font-medium text-gray-500 truncate">
                Some Other Stat
            </dt>
            <dd class="mt-1 text-3xl font-semibold text-gray-900">
                1295
            </dd>
        </div>
    </dl>
</div>
<div *ngIf="(ethService.currentAccount$ | async) === ''; else connectWalletTemplate" class="font-playfair font-semibold">
  <div class="mx-auto flex rounded-md drop-shadow-black w-12/12 md:w-3/12 ">
      <button (click)="connectWallet()" class="mx-auto self-center relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-base rounded-r-md text-black bg-gray-100 hover:bg-gray-100">
          <span>Connect Wallet</span>
      </button>
  </div>
</div>
<ng-template #connectWalletTemplate>
  <div class="mx-auto grid grid-cols-1 md:grid-cols-2 md:gap-12 font-playfair font-semibold justify-items-center">
      <div class="mt-1 flex rounded-md drop-shadow-black w-8/12 md:w-3/12 md:justify-self-end border border-gray-700 border-opacity-40">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
              <input type="number" min="0" step="1" class="block w-full rounded-none rounded-l-md pl-10 text-base border-gray-300" placeholder="1">
          </div>
          <a href="#" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-base rounded-r-md text-black bg-gray-100 hover:bg-gray-100">
              <!-- Heroicon name: solid/sort-ascending -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z" />
              </svg>
              <span class="font-semibold">Buy</span>
          </a>
      </div>
      <div class="mt-1 flex rounded-md drop-shadow-black w-8/12 md:w-3/12 md:justify-self-start border border-gray-700 border-opacity-40">
          <div class="relative flex items-stretch flex-grow focus-within:z-10">
              <input type="number" min="0" step="1" class="block w-full rounded-none rounded-l-md pl-10 text-base border-gray-300" placeholder="1">
          </div>
          <a href="#" class="-ml-px relative inline-flex items-center space-x-2 px-4 py-2 border border-gray-300 text-base rounded-r-md text-black bg-gray-100 hover:bg-gray-100">
              <!-- Heroicon name: solid/sort-ascending -->
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <span>Sell</span>
          </a>
      </div>
  </div>
</ng-template>

<hr class="my-16 max-w-[65vw] md:max-w-[45vw] mx-auto border-t-1 border-black border-opacity-75">

</section>

<section class="font-playfair text-2xl font-semibold">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
      <nav class="-mx-5 -my-2 flex flex-wrap justify-center text-gray-500" aria-label="Footer">
          <div class="px-5 py-2">
              <a href="https://opensea.io/collection/gan-apes-nft" rel="noopener noreferrer nofollow" target="_blank" class="hover:text-gray-900">
                  OpeanSea
              </a>
          </div>

          <div class="px-5 py-2">
              <a href="https://discord.gg/tVcRvvXRfR" rel="noopener noreferrer nofollow" target="_blank" class="hover:text-gray-900">
                  Discord
              </a>
          </div>

          <div class="px-5 py-2">
              <a href="https://twitter.com/GANNFT" rel="noopener noreferrer nofollow" target="_blank" class="hover:text-gray-900">
                  Twitter
              </a>
          </div>
      </nav>
      <p class="text-base text-center mt-4">Join the discord for any questions.<br>The price of NFTs on the secondary market may wary.</p>
  </div>
</section>
