.connect {
    position: absolute;
    
    display: flex;
    left: 49.5%;
    
    aspect-ratio: 99/7;
    height: 6%;

    flex-grow: 1;
    flex-basis: 0;
    
    position: relative;
    height: 80%;
    line-height: 80%;
    color: #23272aff;
    
    border: 1px solid #23272aff;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 900;
    font-size: 2.6vh;
    font-family: 'Roboto';
    text-decoration: none;
}